# התעלמות מכל תיקיית ספריות בכל מקום בפרויקט
**/node_modules
**/.git

# התעלמות מתיקיות תוצרים של ה-Frontend
**/dist
**/build
**/coverage

# התעלמות מקבצי לוג והעלאות ב-Backend
**/uploads
**/*.log

# הערה לגבי .env: 
# אם אתה רוצה שדוקר יקרא את המפתח מקובץ ה-env שבתוך ה-backend, 
# אל תכניס אותו לרשימה כאן.